# PostgreSQL
POSTGRES_DB=cinema
POSTGRES_USER=cinema_user
POSTGRES_PASSWORD=cinema_pass

# Redis
REDIS_PASSWORD=redis_pass

# MongoDB
MONGO_USER=mongo_user
MONGO_PASSWORD=mongo_pass
MONGO_DB=cinema_logs

# RabbitMQ
RABBITMQ_USER=rabbit_user
RABBITMQ_PASSWORD=rabbit_pass
RABBITMQ_VHOST=cinema

# App
SECRET_KEY=change-me-in-production
DEBUG=true
